body {
    margin: 0;
    padding: 0;
}

.homeWrapper {
    padding: 10px;
}

.plannerWrapper {
    display: grid;
    grid-template-columns: 15% 50% 10% 10% 10%;
    text-align: right;
}

.dailyWrapper {
    display: grid;
    grid-template-columns: 15% 25% 25%;
    text-align: right;
}

.newDailyMealButton {
    background-color: gray;
}

.signInWrapper {
    padding: 10px;
}

.signInForm {
    padding: 15px;
    display: grid;
    grid-template-columns: 15% 30% 50%;
    text-align: right;
}
